body {
    font-family: "Open Sans";
}

Header {
    color: white;
    background-color: #004175;
    background-size: cover;
    padding: 1rem 1;
    border: 2px solid #89deef;
    text-indent: 40px;
    margin: -10px;
    }   

 img {
        width: 30%; 
        height: auto;
    }

.container {
   display: inline;
   flex-wrap: wrap;
   font-family: "Oswald";
}

.traits {
    font-size: 12px;
    font-family: "Open Sans";
    border: 5px;
    display:flex-inline;
    align-items: flex-start;
    background-color: #89deef;
    border-color: #89deef;
    border-radius: 5px;
    
}