body {
    font-family: "Open Sans";
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

Header {
    color: white;
    background-color: #004175;
    background-size: cover;
    padding: 1rem 1;
    border: 2px solid #89deef;
    text-indent: 40px;
    margin: -10px;
    }   

    .dog-rows{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;
        grid-column: 1/4;
    }
    
 .dogphoto img {
       width: 200px;
       height: 133px;
    }

.main {
    width: 60%;
}
#container {
   font-family: "Oswald";
   display: inline-flexbox;
   flex-direction: row;
   background-color: white;
    width: 90%;
}

.name {
    margin-bottom: -15px;
    font-size: 15px;
    margin-top: -8px;
}


.traits {
    font-size: 11px;
    font-family: "Open Sans";
    background-color: #89deef;
    border-color: #89deef;
    border-radius: 10px;
    padding: 0.2rem;
    display: inline-flex;
    flex-wrap: wrap;
      }


aside {
    width: 20%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    font-style: italic;
    color: #F2F2F2;
    }

footer img {
    width: 440px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#5134a8;
    margin: -6px;
}
    