body {
    font-family: "Open Sans";
}

Header {
    color: white;
    background-color: #004175;
    background-size: cover;
    padding: 1rem 1;
    border: 2px solid #89deef;
    text-indent: 40px;
    margin: -10px;
    }   

 .dogphoto img {
       width: 30%;
       height: auto;
    }


.container {
   display: inline;
   font-family: "Oswald";
   margin:-10px;
}

.name {
    margin-bottom: -15px;
    font-size: 15px;
}

body {
    flex-direction: row;
}

.traits {
    font-size: 11px;
    font-family: "Open Sans";
    border: 12px;
    background-color: #89deef;
    border-color: #89deef;
    border-radius: 5px;
    flex-flow: row;

    @media all and (min-width: 800px) {
         body    { flex: 3 0px; }
        .aside-1 { order: 1; } 
         body   { order: 2; }
        .aside-2 { order: 3; }
        .footer  { order: 4; }
      }

